<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><b><%= title %></b></h1>
    <table style="width:500px">
      <tr>
        <th>Item</th>
        <th>Value</th>
      </tr>
      <tr>
        <td id="item_1"><b>High ( Freq > 4 KHz )</b></td>
        <td id="value_1">0.00</td>
      </tr>
      <tr>
        <td id="item_2"><b>Medium ( 1000 Hz < Freq < 4000 Hz) </b></td>
        <td id="value_2">0.00</td>
      </tr>
      <tr>
        <td id="item_3"><b>Low ( Freq < 1000 Hz ) </b></td>
        <td id="value_3">0.00</td>
      </tr>
    </table>

    <script src='/js/jquery-3.2.1-min.js'></script>
    <script src="/js/mySockets.js"></script>
  </body>
</html>
